.App {
  width: 100%;
  height: 100vh;
  text-align: center;
  font-family:Andale Mono, monospace;
  background-color: rgb(137, 137, 255);
}

.pageheading{
  font-weight: bold;
  color: white;
}

.dashboardpage{
  display: flex;
  justify-content: center;
  align-items: center;
  height:85vh;
}

.container2{
  width: 70%;
  height: 80vh;
  margin-top: 20px;
  border: 5px solid black;
  background-color: orange;
}

.topicbutton{
  margin-top: 100px;
}

.loginpage{
  display: flex;
  justify-content: center;
  align-items: center;
}